<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /isc-beam/

    # Jika permintaan bukan ke file atau direktori yang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua permintaan ke index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
